<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/style.css" />
</head>
<body>
    <ul>
        <li>
            <div class="menuItem">
                <a asp-action="../Amenities/Index">Amenities</a>
            </div>
        </li>
        <li>
            <div class="menuItem">
                <a asp-action="../HotelRooms/Index">Hotel Rooms</a>
            </div>
        </li>
        <li>
            <div class="menuItem">
                <a asp-action="../Hotels/Index">Hotels</a>
            </div>
        </li>
        <li>
            <div class="menuItem">
                <a asp-action="../RoomAmenities/Index">Room Amenities</a>
            </div>
        </li>
        <li>
            <div class="menuItem">
                <a asp-action="../Rooms/Index">Rooms</a>
            </div>
        </li>
    </ul>
</body>
</html>
