<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <partial name="_LinksAndScripts.cshtml" />
</head>
<body>
    <div class="container">
        <header id="bootstrap-override">
            <h1>Async Winn</h1>
            An Inn for the Win!
        </header>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
